<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petapp20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petapp20">
        <activity
            android:name=".DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".Medical_J.Patient_information"
            android:exported="false" />
        <activity
            android:name=".Order.pay_by_credit_card"
            android:exported="false" />
        <activity
            android:name=".Adopt_result"
            android:exported="false" />
        <activity
            android:name=".Adopt_pet_search"
            android:exported="false" />
        <activity
            android:name=".Medical_J.prescription"
            android:exported="false" />
        <activity
            android:name=".Medical_J.appointment"
            android:exported="false" />
        <activity
            android:name=".Medical_J.treatment"
            android:exported="false" />
        <activity
            android:name=".Medical_J.hospital"
            android:exported="false" />
        <activity
            android:name=".Medical_J.doctor"
            android:exported="false" />
        <activity
            android:name=".Medical_J.diagnosis"
            android:exported="false" />
        <activity
            android:name=".My_pet"
            android:exported="false" />
        <activity
            android:name=".New_pet"
            android:exported="false" />
        <activity
            android:name=".Medical_J.Medical"
            android:exported="false" />
        <activity
            android:name=".Post_pet"
            android:exported="false" />
        <activity
            android:name=".Find_search"
            android:exported="false" />
        <activity
            android:name=".Find_pet"
            android:exported="false" />
        <activity
            android:name=".edit.Edit_Address"
            android:exported="false" />
        <activity
            android:name=".edit.Edit_password"
            android:exported="false" />
        <activity
            android:name=".edit.Edit_firstname"
            android:exported="false" />
        <activity
            android:name=".edit.Edit_lastname"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".introductory"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>